#movehero{
    margin-top: 120px;
}
.uppermagin{
     margin-top: 50px;
     font-size: large;
     
     
}

#givespace{
    width: 10%;
    height: 40px;
   
}
#getmagin{
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
}
.nav-link {
    /* align-items: flex-end; */
    /* text-align: right; */
    color: teal;
    font-weight: 400;
}
@keyframes appear{
    from{
        opacity: 0;
        tranform: 0.5;
    }to{
        opacity: 1;
        scale: 1;
    }
}
#view{
    animation: appear 5s linear;
    animation-timeline: view() ;
    animation-range: entry cover 40%;
}

#form input {
    display: flex;
    /* align-items: flex-start; */
    text-align: left;
    justify-content: flex-start;
    
}
#form label{
    color:yellow;
    text-align: left;
    justify-content: flex-end;

}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid orange;
  width: fit-content;
}

/* .typewriter.animate {
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.animate-delay {
  opacity: 0;
  animation: fadeIn 1s ease 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
} */

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid orange;
  width: fit-content;
}

.animate {
  animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.animate-delay {
  opacity: 0;
  animation: fadeIn 1s ease 3s forwards;
}

@keyframes fadeIn {
  to { opacity: 1 }
}
